.heading {
    background-color: blue;
    font-size: x-large;
    font-family: fantasy;
    accent-color: rgb(255, 225, 0);
    text-align: center;

}
.mfrist {
    background-color: aqua;
    image:center;
    text-align: center;


}